:root {
    --active-planet-color: #4193bb;
}

body {
    margin: 0;
    background-color: #070724;
    color: #fff;
    height: 100vh;
    font-family: 'Antonio', sans-serif;
}
.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url('/assets/background-stars.svg');
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.header {
    display: flex;
    padding: 16px 24px;
    border-bottom: 1px solid #38384f;
}

.header.show {
    width: 100%;
    flex-direction: column;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: #070724;
    overflow: auto;
    padding: 0;
}

.header.show .title {
    border-bottom: 1px solid #38384f;
    padding: 16px 24px;
}

.planet-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.planet-circle.mercury{
    background-color: #def4fc;
}

.planet-circle.venus {
    background-color: #f7cc7f;
}

.planet-circle.earth {
    background-color: #545BFE;
}

.planet-circle.mars {
    background-color: #FF6A45;
}

.planet-circle.jupiter {
    background-color: #ECAD7A;
}

.planet-circle.saturn {
    background-color: #FCCB6B;
}

.planet-circle.uranus {
    background-color: #65F0D5;
}

.planet-circle.neptune {
    background-color: #497EFA;
}

.header .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 28px;
}

.planets-list {
    display: none;
}

.planets-list.show {
    display: flex;
    flex: 1 1 0%;
    padding: 0 24px;
}

.planets-list.show ul {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.planets-list.show ul li a {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #38384f;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 1.36px;
    font-weight: bold;
    font-size: 15px;
}

.planets-list.show ul li a .planet-name-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.planets-list ul li a {
    text-decoration: none;
    color: #838391;
}

.chevron-icon {
    width: 4px;
    height: 8px;
}

.main-content {
    flex: 1 1 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tabs {
    display: flex;
    padding: 0 24px;
    gap: 20px;
    justify-content: space-between;
    text-transform: uppercase;
    font-family: 'Spartan', sans-serif;
    font-size: 9px;
    letter-spacing: 1.93px;
    font-weight: bold;
    border-bottom: 1px solid #38384f;
}

.tabs li {
    display: flex;
}

.overlay-image {
    display: none;
}

.overlay-image.show {
    display: block;
    width: 100px;
    position: absolute;
    bottom: 0px;
}

.tabs li .tab {
    color: #fff;
    text-decoration: none;
    padding: 20px 0;
}

.tabs li .tab.active-tab {
    border-bottom: 2px solid var(--active-planet-color);
}

.planet-image-wrapper {
    padding: 40px 24px;
    height: 305px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mercury-image {
    width: 111px;
}

.venus-image {
    width: 154px;
}

.earth-image {
    width: 173px;
}

.mars-image {
    width: 129px;
}

.jupiter-image {
    width: 224px;
}

.saturn-image {
    width: 256px;
}

.uranus-image {
    width: 176px;
}

.neptune-image {
    width: 173px;
}

.planet-info-section {
    padding: 0 24px;
    text-align: center;
}

.planet-info-section h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
    font-weight: normal;
}

.planet-info-section p {
    font-family: 'Spartan', sans-serif;
    font-size: 11px;
    line-height: 22px;
    margin-bottom: 30px;
}

.source-link-wrapper {
    font-family: 'Spartan', sans-serif;
    font-size: 12px;
    line-height: 25px;
    color: #838391;
}

.source-link-wrapper a {
    text-decoration-color: #838391;
    color: #838391;
    font-weight: bold;
}

.planet-numbers-section {
    padding: 20px 24px;
}

.numbers-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.numbers-list li {
    display: flex;
    justify-content: space-between;
    border: 1px solid #38384f;
    padding: 11px 24px;
    align-items: center;
    text-transform: uppercase;
}

.numbers-list .numbers-item-title {
    font-family: 'Spartan', sans-serif;
    letter-spacing: 0.73px;
    line-height: 16px;
    font-size: 8px;
    color: #838391;
}

.numbers-list .number {
    font-size: 20px;
    letter-spacing: -0.75px;
}

.side-tabs {
    display: none;
}

@media (min-width: 768px) {
    .planet-image-wrapper {
        height: 424px;
    }
    .overlay-image.show {
        bottom: 40px;
    }
    .chevron-icon {
        display: none;
    }
    .planet-circle {
        display: none;
    }
    .header {
        flex-direction: column;
    }
    .header .title .hamburger-icon {
        display: none;
    }

    .header .title {
        justify-content: center;
        padding: 30px 0;
    }

    .header .planets-list {
        display: block;
    }

    .header .planets-list ul {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        font-family: 'Spartan', sans-serif;
        font-weight: bold;
        font-size: 11px;
        line-height: 25px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #838391;
        padding: 0 50px 10px 50px;
    }

    .planets-list ul li.active-planet {
        border-top: 2px solid var(--active-planet-color);
        color: #fff;
    }

    .planets-list ul li.active-planet a {
        color: #fff;
    }

    .tabs {
        display: none;
    }

    .planet-info-section-wrapper {
        display: flex;
        gap: 50px;
        align-items: center;
        padding: 0 40px;
    }

    .planet-info-section {
        flex: 1 1 0%;
        padding: 0;
        text-align: left;
    }

    .planet-info-section h1 {
        font-size: 48px;
    }

    .planet-info-section p {
        line-height: 22px;
    }

    .side-tabs {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1 1 0%;
        font-family: 'Spartan', sans-serif;
        line-height: 25px;
        letter-spacing: 1.93px;
        text-transform: uppercase;
        font-size: 9px;
    }

    .side-tabs .tab {
        display: flex;
        gap: 10px;
        padding: 8px 24px;
        border: 1px solid #38384f;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }

    .side-tabs .tab.active-tab {
        background-color: var(--active-planet-color);
    }

    .side-tabs .tab:hover:not(.active-tab) {
        background-color: #38384f;
    }

    .side-tabs .tab .number {
        color: #838391;
    }

    .planet-numbers-section {
        padding: 20px 40px;
    }

    .numbers-list {
        flex-direction: row;
    }

    .numbers-list li {
        flex-direction: column;
        align-items: baseline;
        gap: 10px;
        flex: 1 1 0%;
    }

    .mercury-image {
        width: 184px;
    }
    
    .venus-image {
        width: 253px;
    }
    
    .earth-image {
        width: 285px;
    }
    
    .mars-image {
        width: 213px;
    }
    
    .jupiter-image {
        width: 369px;
    }
    
    .saturn-image {
        width: 422px;
    }
    
    .uranus-image {
        width: 290px;
    }
    
    .neptune-image {
        width: 285px;
    }

    .main-content {
        max-width: 1060px;
        margin: 0 auto;
    }
}

@media (min-width: 1440px) {
    .header {
        padding: 0 24px;
        flex-direction: row;
    }

    .header .title {
        padding: 16px 0;
        justify-content: flex-start;
    }

    .header .planets-list ul {
        padding: 0;
        height: 100%;
    }

    .header .planets-list ul li {
        display: flex;
        align-items: center;
    }

    .mercury-image {
        width: 290px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }

    .planet-wrapper {
        display: flex;
        flex: 1 1 0%;
        align-items: center;
        gap: 50px;
        width: 1060px;
    }

    .planet-info-section-wrapper {
        flex-direction: column;
        max-width: 350px;
    }

    .planet-image-wrapper {
        flex: 1 1 0%;
        height: auto;
    }

    .planet-info-section {
        flex: unset;
    }

    .side-tabs {
        flex: unset;
        width: 100%;
    }

    .mercury-image {
        width: 290px;
    }
    
    .venus-image {
        width: 400px;
    }
    
    .earth-image {
        width: 450px;
    }
    
    .mars-image {
        width: 336px;
    }
    
    .jupiter-image {
        width: 582px;
    }
    
    .saturn-image {
        width: 666px;
    }
    
    .uranus-image {
        width: 458px;
    }
    
    .neptune-image {
        width: 450px;
    }

    .overlay-image.show {
        width: 140px;
        bottom: 70px;
    }

    .planet-image-wrapper {
        height: 680px;
    }
}
